<div class="row">
	<div class="col-xs-6 left-col">
		<div class="logo logo-small logo-fit logo-left"></div>
	</div>
	<div class="col-xs-6 right-col text-right">
			<button class="btn btn-primary btn-lg btn-o hidden-xs" {{action "toggleSideMenu"}}>
				{{#if showingSideMenu}}Hide Menu <i class="fa fa-caret-square-o-right"></i>{{else}}Menu <i class="fa fa-bars fa-fw"></i>{{/if}}
			</button>
			{{#unless showingSideMenu}}
				<button class="btn btn-primary btn-lg visible-xs-inline-block" {{action "toggleSideMenu"}}>
					<i class="fa fa-bars fa-fw"></i>
				</button>
			{{/unless}}
	</div>
</div>
{{render 'side-menu'}}
{{render 'link-bar'}}